.lp_venda_curso {
    height: 100%;

}

.lp_cursos{
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.venda_cursos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 7% 3% 0% 4% ;
}

.venda_cursos h1 {
    width: 100%;
    color: #99477c;
    font-size: 300%;
    margin-bottom: 5%;

}

.img_curso_sp {
    width: 18%;
}

.img_curso_sp img {
    width: 100%;
}

.text_curso {
    width: 65%;
    margin-left: 3%;
    padding-top: 0.5%;
    margin-bottom: 8%;

}

.text_curso h2 {
    font-size: 190%;
    color: #99477c;

}
.sucesso_parabens {
    color: #00d12d;
}

.text_curso p {
    text-align: justify;
    margin-top: 3%;
}

.text_curso button {
    cursor: pointer;
    border-radius: 62px;
    border-style: solid;
    border-color: #99477c;
    padding: 1% 5%;
    margin-top: 4%;
    background-color: #99477c;
    color: #ffffff;
    font-weight: bold;
}

.linha {
    width: 90%;
    height: 1%;
    border-color: #C4C4C4;
    background-color: #C4C4C4;
    margin-bottom: 5%;
}


footer {
    width: 100%;
    display: flex;
    bottom: 0;
    position: fixed;
    background-color: #99477c;
}


@media screen and (max-width: 1280px) {
    
    .img_curso_sp {
        width: 24%;
    }

}


@media screen and (max-width: 750px) {
    

}

@media screen and (max-width: 769px) {
    
    footer {
        position:relative;
    }
}