.home {
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FF638B;

}

.banner_img{
    width: 100%;
    margin-left: 11%;

    
}

.banner_img img {
    width: 80%;
}

.cursos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 6% 3% 6% 3% ;
}

.curso {
    text-align: center;
    width: 30%;
    padding-left: 1%;
    padding-right: 1%;
}


.curso button {
    cursor: pointer;
    border-radius: 62px;
    border-style: solid;
    border-color: #99477c;
    padding: 2% 15%;
    margin-top: 25%;
    background-color: #99477c;
    color: #ffffff;
    font-weight: bold;
}

.depoimentos {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box;
    background-color: #ece7e7;
}

.depoimentos h1 {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 7%;
    color: #99477c;
}
.feedback {
    width: 37%;
    display: flex;
    margin-left: 7%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.feedback img {  
    width: 15%;
    height: 69%;
    margin-top: 2%;
    
}

.feedback p {
    width: 54%;
    margin-top: 3%;
    margin-left: 4%;
}

.blog {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box;
}

.blog h1 {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    color: #99477c;
}

.post {
    width: 25%;
    margin-top: 4%;
    margin-left: 6%;
}

.post h3 {
    color: #99477c;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.post p {
    width: 350px;
    margin-bottom: 30%;
}

.blog a {
    margin-left: 39%;
    margin-bottom: 5%;
}

.blog button {
    width: 170%;
    height: 200%;
    cursor: pointer;
    border-radius: 62px;
    color: #99477c;
    border-color: #99477c;
}

@media screen and (max-width: 1280px) {

    .curso img {
        width: 60%;
    }
    
    .curso button {
        margin-top: 20%;
    }

}

@media screen and (max-width: 1025px) {

    .banner_img{
        margin-left: 0%;
    }
    .banner_img img {
        width: 100%;
    }

    .blog {
        display: block;
        padding-bottom: 10%;
    }

    .post {
        margin-top: 6%;
        margin-left: 30%;
        margin-bottom: 12%;
    }

    .post h3 {
        width: 250%;
    }

    .blog a {
        margin-left: 32%;
    }

    .blog button {
        width: 27%;
        height: 3%;
    }
}

@media screen and (max-width: 835px) {

    .curso img {
        width: 95%;
    }

    .feedback {
        width: 100%;
        margin-top: 3%;
        margin-left: 20%;
    }

    .feedback img {
        width: 9%;
        height: 80%;
        margin-top: 3%;
    }

    .blog a {
        margin-left: 35%;
    }
}

@media screen and (max-width: 600px) {

    .cursos {
        display: block;
    }

    .curso {
        margin-left: 30%;
    }

    .curso img {
        width: 150%;
    }

    .curso button {
        width: 140%;
    }
}

@media screen and (max-width: 550px) {
    
    .curso button {
        margin-bottom: 19%;
    }

    .feedback {
        display: block;
        margin-bottom: 10%;
        margin-left: 10%;

        
    }

    .feedback img {
        width: 25%;
        height: 30%;
        margin-top: 15%;
        margin-left: 33%;
    }

    .feedback p {
        margin-left: 0%;
        margin-right: 10%;
        width: 100%;
    }

    .blog h1 {
        margin-top: 12%;
    }

    .post {
        margin-top: 12%;
        margin-left: 6%;
    }

    .post img {
        width: 350%;
    }
    
    .post p {
        width: 300px;
        margin-bottom: 100%;
    }

    .blog a {
        margin-left: 25%;
    }

    .blog button {
        width: 50%;
        height: 3%;
    }
}
